pandas==2.2.3
requests==2.32.4
biopython==1.84
chembl-webresource-client==0.10.9
matplotlib==3.10.1
scikit-learn==1.6.0
seaborn==0.13.2
tqdm==4.67.1
rdkit==2024.9.6
openpyxl==3.1.5
h5py==3.14.0
pyarrow==21.0.0
fpsim2==0.7.3
pandamap==4.1.0
pymol-open-source-whl==3.1.0.4
pycirclize==1.10.1
google_api_python_client==2.185.0
google_auth==2.41.1